---
title: Saleschute API Documentation
---

API Documentation
============================

<div class="container">
  <div class="row">

    <!-- Side Navigation -->
    <div class="col-md-3">
      <p><%= link_to "<- back", "index.html" %></p>
      <p><%= link_to "Orders", "#orders" %></p>
    </div>


    <!-- Main Content -->
    <div class="col-md-9 main-content">
      <div id="orders">

        <!-- see partial for actual content. use markdown for easier writing. -->
        <%= partial "docs-content.markdown" %>



      </div>
    </div>
  </div> <!-- /row -->
</div><!-- /container -->
