---
title: Saleschute API Documentation
---

API Documentation
============================

<div class="container" markdown="1">
<p><%= link_to "<- back", "index.html" %></p>


This page is docs.html.markdown.erb

This should be a paragraph.

```ruby
puts "this is code"
```

We are good to go!
</div>