---
title: Saleschute Docs
---

<div class="welcome">
  <h1>Saleschute Documentation</h1>
  <p class="doc">
    <%= link_to "Go to Saleschute.com", "http://www.saleschute.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<%= link_to "API Documentation", "/docs.html" %>